/* Hide default scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Custom scrollbar */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #555 #363636;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    border: 3px solid #363636;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #363636;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    border: 3px solid #363636;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
